# Dependencies
node_modules/
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# TypeScript cache
*.tsbuildinfo

# Coverage
coverage
.nyc_output

# Local uploaded memory photos
/apps/backend/uploads/

# Build output
dist
build/Release

# Misc
.DS_Store
.npm
.eslintcache

# Firebase
**/serviceAccount.json

# IDE
.idea/

# JetBrains / WebStorm
.idea/
