node_modules/
.expo/
dist/
web-build/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
Thumbs.db

expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
*.pem
*.tsbuildinfo
/ios
/android
